$media-1400: 1400px;
$media-1200: 1200px;
$media-992: 992px;
$media-768: 768px;
$media-576: 576px;

$container-width-1200: 1140px;
$container-width-992: 960px;
$container-width-768: 720px;
$container-width-576: 540px;

$text-color-green: #1A8917;
$text-color-light-green: #5CB85C;
$text-color-darkGrey: #373A3CFF;
$text-color-midGrey: #515557;
$text-color-grey-mid-dark: #999;
$text-color-light-mid-Grey: #afafaf;
$text-color-lightGrey: #dcdcdc;
$text-color-black-light: #373a3d;
$text-color-darkBlack: #030303;
$text-color-red-error: #e51e1e;
$text-color-orange-banner: #FFC017;
$text-color-orange-banner-dark: #e0a911;
$text-color-orange-banner-light: rgba(255, 192, 23, 0.3);
$text-color-orange-banner-mid: rgba(255, 192, 23, 0.6);
$text-color-grey-light-tag: #F2F2F2;
$text-color-grey-mid-tag: #e8e8e8;
